    <script src="/js/script.js"></script>
    <div id={{id}}></div>
    <canvas id="myCanvas" width="300" height="300" style="border:1px solid #ffffff;">
      Your browser does not support the HTML5 canvas tag.
    </canvas>
